<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Family | Members</title>
    <link rel="icon" href="/static/vitae_p.ico">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css"
        integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N" crossorigin="anonymous">
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="#">Pages|Members</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="/welcome/">Welcome</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/list_members/">Family Members</a>
                </li>                
            </ul>            
        </div>
    </nav>

    <ol>
        {% for member in members %}
    
            <h1><li>Familiar</li></h1>
            <ul>
                <li><h2>Nombre: {{member.name}}</h2></li>
                <li><h2>Apellido: {{member.last_name}}</h2></li>
                <li><h2>Vinculo: {{member.relation}}</h2></li>
                <li><h2>Edad: {{member.age}} años</h2></li>
                <li><h2>Fecha de Registro: {{member.creation_date}}</h2></li>
            </ul>
            <br>
    
        {% endfor %}
    </ol>
    
</body>
</html>