<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Welcome</title>
    <link rel="icon" href="/static/cvcv.ico">
</head>
<style>
    h1{
        text-align: center;
    }
    h1 span{
        background-color: rgb(246, 232, 232);
        font-family:'Courier New', Courier, monospace;
        font-size:xx-large;
    }
</style>
<body>
    <h1><span>Hola</span></h1>
    <h1><span>Bienvenido a mi Pagina Familiar</span></h1>
</body>
</html>